body{
  background-color: black;
}

p{
  font-family: 'Passion One', cursive;
  letter-spacing: 2px;
}
.container {
  height: 750px;
  width: 700px;
  background-color: black;
  margin: 0px auto;
  color:  white;
  position: relative;
}

.border {
  height: 550px;
  width: 600px;
  background-image: url('Space.jpeg');
  background-size: cover;
  margin: 0 auto;
  border: solid blue;
}

.enemyContainer {
  height: 725px;
  width: 700px;
  margin: 0 auto;
}


.score {
  margin: 0;
 text-align: center;
 padding: 0;
 font-weight: bold;
 color: lightblue;
 font-size: 30px;
}

.livesP {
  margin: 0 0 20px 75px;
  padding: 0;
  display: inline-block;
  height: 30px;
}

.boxLives {
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 5px 0 0 5px;
}

.p1 {
  padding: 0;
  /* font-weight: bold; */
  margin: 0 0 10px 0;
  color: lightblue;
  font-size: 30px
}

.livesContainer {
  margin: 10px 0 5px 5px;
  display: inline-block;
  background-color: lightgreen;
  height: 20px;
}

.playerLives {
  display: inline-block;
  background-color: red;
  height: 20px;
  width: 20px;
  margin: 0 0 0 -5px;
  padding: 0
}

.stopAndGo{
  position: absolute;
  top: 300px;
  left: 100px;
  font-size: 30px;
}

.start {
  color: white;
  background-color: green;
  border: solid white;
  margin-right: 25px;
  padding: 5px;
  border-radius: 15px;
}
.stop {
  color: white;
  background-color: red;
  border: solid white;
  padding: 5px;
  border-radius: 15px;
}

.start:hover {
  cursor: pointer;
  color: black;
}

.stop:hover {
  cursor: pointer;
  color: black;
}

.win{
  color: white;
  display: inline-block;
  position: absolute;
  font-size: 30px;
  top: 200px;
  left: 100px;
}

.win p{
  color: gold;
}

.laser{
  height: 30px;
  width: 3px;
  background-color: yellow;
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  border: dashed red 1px;
}

.spaceHolder{
  height: 60px;
  width:0 ;
  display: inline-block;
}

.enemy1{
  height: 40px;
  width: 40px;
  background-image: url('3.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.enemy2{
  height: 40px;
  width: 40px;
  background-image: url('11.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.enemy3{
  height: 50px;
  width: 50px;
  background-image: url('9.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.enemy4{
  height: 50px;
  width: 30px;
  background-image: url('8.png');
  backgroun-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.enemy5{
  height: 40px;
  width: 40px;
  background-image: url('1.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.enemy6{
  height: 40px;
  width: 40px;
  background-image: url('13.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.enemy7{
  height: 60px;
  width: 60px;
  background-image: url('7.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.enemy8{
  height: 50px;
  width: 60px;
  background-image: url('5.png');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.box{
  height: 50px;
  width: 50px;
  background-image: url('redfighter0005.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.healthPack {
  height: 30px;
  width: 30px;
  background-image: url('heart.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.pointItem1 {
  height: 30px;
  width: 30px;
  background-image: url('bluecoin.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.pointItem2 {
  height: 30px;
  width: 30px;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.winItem{
  height: 30px;
  width: 30px;
  background-image: url('whitecoin.png');
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
.item5 {
  height: 30px;
  width: 30px;
  background-color: red;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}



